<h1>Local#index</h1>
<p>Local Machine</p>
<div>
    <button id="call">Call</button>
</div>
<div>
    <video id="local-video" autoplay></video>
</div>
<script>
var machine = new WebRTC.LocalMachine();
machine.start();
</script>
